{% extends "base.html" %}
{% block content %}
<div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
          <a class="navbar-brand"><img style="height:45px;" src="/static/images/logo.png" alt=""></a>
          <a class="navbar-brand">tams.</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link diasabled">Training Academy Management System</a>
            </li>
          </ul>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                     
                       
                            <li style="margin-left: 600px;" class="nav-item dropdown">
                                   
                                <a class="nav-link dropdown-toggle" id="navbardrop" href="#" data-toggle="dropdown" >Logged in as:</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </li>
                    </ul>
                </div>
            </button>
        </nav>
<div>
        <div class="adminhome">
<h1>Admission</h1></div>
<a class="btn btn-info col-md-1" style="margin-left: 26%;" href="{{url_for('Admissionlist')}}">Display</a><br>
<div>
        <br>
<form class="form-horizontal col-md-6" style="margin-left: auto;margin-right: auto;margin-bottom: 100px;" action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <table class="table table-dark table-hover" >
        <tr>
            <td>{{form.e_phone.label}}</td><td>{{form.e_phone(size=32, autofocus=True)}}
                {% for error in form.e_phone.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor%}	</td>
        </tr>
        <tr><td></td><td>{{form.submit()}}</td></tr>
    </table>
</form>
<div class="allnav" style="    position: fixed;margin-top: -285px;">
                <div id="mySidenav" class="sidenav">
                    <br><br><br>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="{{url_for('Enquiryhome')}}">Enquiry</a>
                    <a href="{{url_for('Admissionhome')}}">Admission</a>
                    <a href="{{url_for('display_course')}}">Course</a>
                    <a href="{{url_for('display_batches')}}">Batch</a>
                    <a href="{{url_for('view_resource')}}">Resource</a>
                    
                </div>
                <br>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;Menu</span></div>
                <script>
                function openNav(){
                    document.getElementById("mySidenav").style.width="250px";
                
                }
                function closeNav(){
                    document.getElementById("mySidenav").style.width="0";
                }
                
                </script>
{% endblock %}