{% extends "base.html" %}
{% block content %}
<h2 class="jumbotron" style="text-align: center;" >Admission</h2>
<div>
<form class="form-horizontal col-md-6" style="margin-left: auto;margin-right: auto;" action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>{{form.e_phone.label}}</td><td>{{form.e_phone(size=32, autofocus=True)}}
                {% for error in form.e_phone.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor%}	</td>
        </tr>
        <tr><td></td><td>{{form.submit()}}</td></tr>
    </table>
</form>
{% endblock %}