{% extends "base.html" %}
{% block content %}


<div class="bgmenu">
   
   
     </div>
     <div class="jumbotron" style="margin-bottom: auto;">
            <center><h1>Batch Details</h1></center>
        </div>
<table class="table table-dark table-hover">
    <form method="POST" action="{{url_for('add_batch')}}">
    
    <tr>
        <th>Id</th>
        <th>Batch Name</th>
        <th>Start Date</th>
        <th>End Date</th>
         <th>Course Name</th>
        <th>Batch Status</th>
        <th>Action</th>
   </tr>
   {% for batchh in batches %}
        <tr>
            <td>{{batchh._id}}</td>
            <td>{{batchh.batch_name}}</td>
            <td>{{batchh.start_date}}</td>
            <td>{{batchh.end_date}}</td>
            <td>{{batchh.course_name}}</td>
            <td>{{batchh.batch_status}}</td>
            <td><a href="{{url_for('modify_batch',a=batchh._id)}}">EDIT</a></td>
    {% endfor %}
<tr><td><button type="Submit">ADD BATCH</button></tr></td>
</table>
{% endblock %}