{% extends "base.html" %}
{% block content %}
<div class="container">
    <div><br>
            <center><h2>ENQUIRY UPDATE FORM</h2></center>
            <br></div>
    <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<form action="" method="POST" novalidate>
{{form.hidden_tag()}}

    <table class="table table-dark" style="width: 600px; margin:auto;">

<div>
<fieldset>
    <form action="" method="POST" novalidate>
        {{form.hidden_tag()}}
    <legend>Update Form</legend>
    <table class="table table-dark">
        <tbody>
            <tr><td>{{form.eu_name.label}}</td><td>{{form.eu_name(size=32, autofocus=True,value=e.e_name)}}
                {% for error in form.eu_name.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor%}	</td></tr>
            <tr><td>{{form.eu_phone.label}}</td><td>{{form.eu_phone(size=32,value=e.e_phone)}}
                {% for error in form.eu_phone.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor%}	</td></tr>
            <tr><td> {{form.eu_email.label}}</td><td>{{form.eu_email(size=32,value=e.e_email)}}
                {% for error in form.eu_email.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor%}	</td></tr>
            <tr><td>{{form.eu_qualification.label}}</td><td>{{form.eu_qualification(size=32,value=e.e_qualification)}}
                {% for error in form.eu_qualification.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor%}	</td></tr>
            <tr><td> {{form.eu_course_of_interest.label}}</td><td> {{form.eu_course_of_interest(size=32,value=e.e_course_of_interest)}}
                {% for error in form.eu_course_of_interest.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor%}	</td></tr>
            <tr><td>{{form.eu_year_of_pass.label}}</td><td>{{form.eu_year_of_pass(size=32,value=e.e_year_of_pass)}}
                {% for error in form.eu_year_of_pass.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor%}	</td></tr>
            <tr><td> {{form.eu_status.label}}</td><td> {{form.eu_status(value=e.e_status)}}
                {% for error in form.eu_status.errors %}
                    <span style="color:red;">{{error}}</span>
                {% endfor%}	</td></tr>
            <tr><td></td><td>{{form.submit()}}</td></tr>
        </tbody>
    </table>
    <br>
    <p><a class="btn btn-primary col-md-2" style="margin-left: 50%;"href="{{url_for('Enquiryhome')}}">Back</a></p>
    </form>
    </fieldset>
</div>
{% endblock %}