{% extends "base.html" %}
{% block content %}
<div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
          <a class="navbar-brand"><img style="height:45px;" src="/static/images/logo.png" alt=""></a>
          <a class="navbar-brand">tams.</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link diasabled">Training Academy Management System</a>
            </li>
          </ul>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                     
                       
                            <li style="margin-left: 600px;" class="nav-item dropdown">
                                   
                                <a class="nav-link dropdown-toggle" id="navbardrop" href="#" data-toggle="dropdown" >Logged in as:</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </li>
                    </ul>
                </div>
            </button>
        </nav>
<div>
<div class="container">
    <div><br>
            <h1>Enquiry List</h1>
            <br></div>
    <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">


    <table class="table table-dark table-hover" style="width: 800px; margin:auto;">
<div>
          
        
           
            <thead class="thead thead-dark">
            
            <tr>
                <td>Name</td>
                <td>Gender</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Qualification</td>
                <td>Course Of Interest</td>
                <td>Year Of Pass</td>
                <td>Status</td>
                <td>Update</td>
            </tr>
            </thead>
           
            <tbody>
                {% for ec in edata %}
            <tr>    
                <td>{{ec.e_name}}</td>
                <td>{{ec.e_gender}}</td>
                <td>{{ec.e_phone}}</td>
                <td>{{ec.e_email}}</td>
                <td>{{ec.e_qualification}}</td>
                <td>{{ec.e_course_of_interest}}</td>
                <td>{{ec.e_year_of_pass}}</td>
                <td>{{ec.e_status}}</td>
                <td><a class="btn btn-info" href="{{url_for('Enquirystatusupdate',eid=ec._id)}}">Update</a></td>
            </tr>
            {% endfor %}
        </tbody>
          </table>
          <br>
        <p><a class="btn btn-info col-md-2" style="margin-left: 100px;" href="{{url_for('Enquiryhome')}}">Back</a></p> 
            </div>
        <div class="allnav" style="position: absolute;
        left: 1px;
        top: 270px;">
                <div id="mySidenav" class="sidenav">
                    <br><br><br>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="{{url_for('Enquiryhome')}}">Enquiry</a>
                    <a href="{{url_for('Admissionhome')}}">Admission</a>
                    <a href="{{url_for('display_course')}}">Course</a>
                    <a href="{{url_for('display_batches')}}">Batch</a>
                    <a href="{{url_for('view_resource')}}">Resource</a>
                    
                </div>
                <br>
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;Menu</span></div>
                <script>
                function openNav(){
                    document.getElementById("mySidenav").style.width="250px";
                
                }
                function closeNav(){
                    document.getElementById("mySidenav").style.width="0";
                }
                
                </script>
      
  




{% endblock %}