<div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center fixed-top">
          <a class="navbar-brand"><img style="height:45px;" src="/static/images/logo.png" alt=""></a>
          <a class="navbar-brand">tams.</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link diasabled">Training Academy Management System</a>
            </li>
          </ul>
          <ul class=navbar-nav>
                <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown"><img style="height: fit-content;" src="/static/images/headlogo.png" alt=""></a>
                  <div class="dropdown-menu">
                    <p>Logged in as</p>
                    <p>{{}}</p>
                    <a class="dropdown-item" href="#">Log out</a>
                  </div>
                </li>
              </ul>
        </nav>
<div>