{% extends "base.html" %}
{% block content %}


<div class="bgmenu">
   
   
     </div>
     <div class="jumbotron" style="margin-bottom: auto;">
            <center><h1>Resouce Details</h1></center>
        </div>
<table class="table table-dark table-hover">
        <tr>
            <th>ID</th>
            <th>RESOURCE NAME</th>
            <th>RESOURCE CAPACITY</th>
            <th>RESOURCE STATUS</th>
            <th>RESOURCE RENT</th>
            <th>TYPE OF USE</th>
        </tr>
        {% for r in resources %}
            <tr>
                <td>{{r._id}}</td>
                <td>{{r.res_name}}</td>
                <td>{{r.res_capacity}}</td>
                <td>{{r.res_status}}</td>
                <td>{{r.res_rent}}</td>
                <td>{{r.type_of_use}}</td>
                <td><a class="btn btn-info" href="{{url_for('update_resource',a=r._id)}}">Edit</a></td>
            </tr>
            
        {% endfor %}
        <tr>
                <td><a class="btn btn-primary" href="{{url_for('add_resource')}}">Add new resource</a></td>
                
            </tr>
    </table>

    
  
{% endblock %}




