body{
    background-image:url("../images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    text-align:center;
}
.login{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}
#loginid{
    margin-top: 20px;
}
#loginform{
    padding-top: 70px;
}
fieldset{
    border: 2px solid gray !important;
    margin: 0;
    width: 700px;
    height: 400px;
    padding: 40px;
    position: relative;
    border-radius:4px;
   
    backface-visibility: visible;
    
    padding-left: 40px !important;

}
legend{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
   
    border: 1px solid grey;
    border-radius: 4px;

}
.adminhome{
    margin-left: 350px;
    margin-top: 150px;

    
}

.sidenav{
    height:100%;
    width:0;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: #111;
    overflow-x: hidden;
    transition:0.5s;
    padding-top:60px;

}
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size:25px;
    color:#818181;
    display:block;
    transition:0.3s;

}
.sidenav a:hover{
    color: #f1f1f1;

}
.sidenav .closebtn{
    margin-top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 160px;
}
@media screen and (max-height:450px){
    .sidenav{padding-top:15px;}
    .sidenav a{font-size:18px;}
}



